@import url('https://fonts.googleapis.com/css2?family=Roboto');

:root {
  /* change the values below to your colors from your palette */
  --primary-color: #FDFFFC;
  --secondary-color: #011627;
  --accent1-color: #2EC4B6;
  --accent2-color: #244F26;
}

.primary {
  background-color: var(--primary-color);
  color: var(--accent1-color);
  justify-content: center;
}
.secondary {
  background-color: var(--secondary-color);
}
.accent1 {
  background-color: var(--accent1-color);
}
.accent2 {
  background-color: var(--accent2-color);
}

/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/*----------- apply a natural box layout model to all elements --------------*/
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

header, footer {
  width: 100%;
  background-color: var(--secondary-color);
}

h1,
p {
  margin: 0 2vw;
}

h2 {
  margin: 0.25rem;
}
nav {
  background-color: var(--secondary-color);
 /* margin-right: 20px;*/
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  
  background-color: var(--secondary-color);
  width: 350px;
}

nav button {
  margin: 0.2rem 2vw;
  background-color: transparent;
  color: var(--accent1-color);
  border: none;
}

nav ul li a {
  font-weight: 100;
  display: block;
  padding: 0.8rem 2vw;
  text-decoration: none;
  color: var(--secondary-color);
  border-top: 1px solid rgba(0, 0, 0, 0.5);
  font-size: 1.5rem;
}

nav ul li{
  background-color: var(--accent1-color);
}

nav ul li.active a {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

nav ul li a:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

nav ul {
  display: none;
}
nav ul.open {
  display: block;
  position: absolute;
  z-index: 1;
  background-color: var(--accent1-color);
  left: 0;
}
#hamburgerBtn span:nth-child(1) {
  display: block;
  font-size: 28px;
}
#hamburgerBtn span:nth-child(2) {
  display: none;
}

#hamburgerBtn.open span:nth-child(1) {
  display: none;
}
#hamburgerBtn.open span:nth-child(2) {
  display: block;
  font-size: 28px;
}

.footerText p, h1 {
  color: var(--primary-color);
  background-color: var(--secondary-color);
  text-align: center;
}

#home_content, #results_content, #live:_content{
  color: var(--primary-color);
  background-color: var(--secondary-color);
}

main {
  background-color: var(--accent2-color);
  padding: 20px;
}

label {
  margin-right: 10px;
}

.results, .live{
  position:relative;
  padding: 16px;
  margin-left: 25%;
  background-color: var(--primary-color);
  width: 50%;
  height: 800px;
  border-radius: 8px;
  text-transform: uppercase;
  overflow: scroll;
}

.results-row, .live-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 10px 0;
}

.results-row:hover {
  transform: scale(1.05);
  border-width: 4px;
}

.live-row:hover {
  transform: scale(1.05);
  border-width: 4px;
}
.results-row p, live-row p {
  color: var(--secondary-color);
}

.team {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.team img {
  margin-right: 10px;
}

#leagueForm {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  justify-content: center;
  border: 2px solid var(--accent1-color);
  border-radius: 8px;
  padding: 5px;
}

#leagueSelect {
  width: 250px;
}


.title-box{
  margin: 25px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  font-size: 1.5rem;
}

.title-box #goals{
  font-size: 2.5rem;
}

.team{
  width: 200px;
}

.team img {
  height: 54px;
  width: 54px;
}

.matches-table{
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  
}

.match-tile{
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin: 10px 0;
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.match-tile img{
  width:52px;
  height: 52px;
}

.match-tile p{
  font-size: 1.2rem;
}

.match-tile #goals{
  font-size: 1.1rem;
}

.match-tile .team{
  width: 100px;
}