/* 64rem is also 1028px when basefont is 16px */
@media only screen and (min-width: 64rem) {
    nav {
      grid-area: 1 / 3 / 2 / 6;
      background-color:  var(--secondary-color);
    }
    nav button {
      display: none;
    }
    nav ul{
      background-color:  var(--secondary-color);
      display: flex;
      justify-items: center;
    }

    nav ul li{
      background-color: var(--secondary-color);
    }
  
    nav ul li a {
      border: none;
      color: var(--accent1-color);
    }
  
    nav ul li a:hover {
       color: var(--primary-color);
     
    }
  
    nav ul li.active a {
      background-color: var(--secondary-color);
    }
    header {
        max-width: 100%;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
      }

      #logo { grid-area: 1 / 1 / 2 / 3; }
 
      